build/
import_dir/
.qt/
.qmlls.ini
CMakeCache.txt
CMakeFiles/
*.cmake
*.so
package/contents/ui/BlueArchiveSpine/*.so
package/contents/ui/BlueArchiveSpine/qmldir
package/contents/ui/BlueArchiveSpine/*.qmltypes